p {
  font-size: x-large;
  color: black;
  margin-top: 1cm;
  margin-left: 30%;
  font-style: italic;
  line-height: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
