<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
    <a
      href="https://www.coursera.org/specializations/software-testing-automation"
    >
      Software Testing and Automation Specialization</a
    >
  </button>
    <button mat-menu-item>
    <a href="https://anhtester.com/blog/selenium-java"
      >Selenium Java - Automation testing</a
    >
  </button>
</mat-menu>
<p>We have some courses here, please choose the one you are interested in !</p>