<h1>Practice</h1>
<br />
<hr class="wp-block-separator is-style-wide" />
<a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">TestLoginPage</a
>
<div>
    <div class="text-center">
        <em class="text-center">Simple login page where testers can execute positive and negative login
      test cases</em
    >
  </div>
  <br />
  <hr class="wp-block-separator is-style-wide" />
  <a
    routerLink="/exception"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >TestExceptions</a
  >
  <div class="text-center">
    <em>Page to reproduce the most common Selenium Exceptions.</em>
    </div>

    <br />
    <hr class="wp-block-separator is-style-wide" />
</div>