* {
    font-family: "Lucida Sans";
}

.nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
    margin: 0;
    color: white;
}

li {
    margin-right: 20px;
    margin-left: 20px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

li a:hover {
    color: black;
    background-color: white;
}

.design-credit {
    position: relative;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
    padding: 1em;
    background: #000;
    color: #fff;
    text-align: center;
}