h1 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 1.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
  color: white;
}

li {
  padding: 20px;
  font-size: larger;
}

.text-center {
  text-align: center;
  cursor: auto !important;
}

.inline {
  display: inline;
  font-size: x-large;
}

.sizebutton {
  width: 1.8cm;
  height: 1.16cm;
}
