.pClass {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-indent: 1.1em;
}

.text-center {
    text-align: center;
    cursor: auto !important;
}

// ul {
//     text-align: justify;
//     margin-left: 20%;
// }
li {
    text-align: justify;
    margin-left: 10%;
}

h3 {
    text-align: justify;
}

.square {
    width: 24rem;
    height: 14rem;
    background: rgb(0, 119, 128);
}

.rec-sq {
    display: flex;
    gap: 2em;
    margin: 2em;
}